/* mobile & tablet */
@media(max-width:1023px) {
 

    
}

@media(min-width:740px) {

    

}

/* tableb */
@media(min-width:740px) and (max-width: 1023px) {


}

@media (max-width: 740px){
    .hidden-on-mobile{
        display: none;
  }
  .table{
    width: 100%;
  }
  .table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    float:left;
  }
  .form-check-input{
    margin-left: -20px;
  }
  
  .col-md-2 {
    max-width: 100%!important;
  }

  .form-check{
    float:left; 
    margin-left:15px;
  }
  .col-6 {
    Reserve Table
}

  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    max-width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 5px;
  margin-left: 5px;
  }

}